<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scrutinizer</title>
    <style>
        {{ file_contents('/inline.min.css') | raw }}
    </style>
    <script>
        function lazyLink(url) {
            var xhr = new XMLHttpRequest()
            xhr.open('GET', url)
            xhr.addEventListener('load', function () {
                if (this.status == 200) {
                    document.body.innerHTML += '<link href="' + url + '" rel="stylesheet">'
                }
            })
            xhr.send()
        }
        lazyLink('https://fonts.googleapis.com/css?family=Roboto:100,400')
        lazyLink('{{ '/app.min.css' | hash }}')
    </script>
    <script async src="{{ '/app.min.js' | hash }}"></script>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="{{ '/icon.png' | hash }}">
    <meta name="theme-color" content="#3F51B5">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
</head>
<body class="mdc-theme--primary-bg">
    <h1 class="mdc-theme--text-primary-on-primary">Scrutinizer</h1>
    <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
        <input type="text" id="entry" class="mdc-textfield__input" value="https://www.joestrong.co.uk">
        <label class="mdc-textfield__label" for="entry">https://example.com</label>
    </div>
    <div id="results"></div>
</body>
</html>