@import 'inline';
@import '@material/textfield/mdc-textfield';
@import '@material/theme/mdc-theme';
@import '@material/card/mdc-card';
@import "@material/list/mdc-list";

$bad: #F44336;
$good: #4CAF50;
$error: #FFEB3B;

.test-result-card {
  justify-content: flex-start;
  background: #fff;
  .test-result-card__background {
    background: #C5CAE9;
  }
  .mdc-list-item {
    align-items: flex-start;
    overflow: hidden;
    .test-status-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background: #aaa;
      margin-right: .5rem;
      &.good {
        background: $good;
      }
      &.bad {
        background: $bad;
      }
      &.error {
        background: $error;
      }
    }
  }
}
