@import 'inline';
@import '@material/textfield/mdc-textfield';
@import '@material/theme/mdc-theme';
@import '@material/card/mdc-card';
@import "@material/list/mdc-list";

.test-result-card {
  justify-content: flex-start;
  background: #fff;
  .test-result-card__icon {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #aaa;
  }
  .mdc-card__title,
  .mdc-card__subtitle {
    margin-left: 3rem;
  }
  .mdc-list-item {
    align-items: flex-start;
    overflow: hidden;
    .test-status-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background: #aaa;
      margin-right: .5rem;
    }
  }
}
